body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin: 10px;
    padding: 0;
}

#head-logo {
    margin-left: 25px;
    padding: 0;
}

#header {
    background-color: #5d8aa8;
    color: white;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px grey solid;
    
}

#navbar {
    list-style-type: none;
    margin: 0;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

#apple-logo {
    height: 35%;
    width: 30%;
    margin-right: 40px;
    position: absolute;
    right: 0;
    top: 75px;
}

#web-heading {
    font-size: 48px;
    font-weight: 900;
}

#web-caption {
    font-size: 18px;
}

#sign-up-btn {
    background-color: #3882F6;
    color: white;
    border-radius: 15%;
    font-size: 19px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.web-awesome {
    margin-left: 50px;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 20px;
    display: inline;
}

.nav-link li {
    display: inline-block;
}

.navlink:hover {
    color: red;
}